---
title: Contacto
linkTitle: Contacto
menu:
  main:
    weight: 40

---


{{< blocks/cover title="Contacto" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">Rellena el formulario o escríbeme un correo.
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}

<form action="https://fabform.io/f/h1OC8Ce" method="post">
  <label for="fname">Nombre</label>
  <input type="text" id="fname" name="firstname" placeholder="Tu precioso nombre es...">

  <label for="lname">Apellidos</label>
  <input type="text" id="lname" name="lastname" placeholder="Y te apellidas...">

  <label for="lname">Email</label>
  <input type="email" id="email" name="email" placeholder="tuemail@...">

  <label for="subject">Asunto</label>
  <textarea id="subject" name="subject" placeholder="Escribe algo bonito..." style="height:200px"></textarea>

  <button type="submit">Enviar</button> 
 </form>

 {{% /blocks/lead %}}





{{% blocks/lead %}}
Envíame un correo a contacto@gabrielsmf.com para hacerme consultas, pedirme presupuestos, hacerme ofertas de trabajo o mandarme fotos de animalicos.
{{% /blocks/lead %}}


