---
title: Currículum
linkTitle: Currículum
menu:
  main:
    weight: 20

---
<style>
  body { background:#271152; }
  img {
    height: auto;
    max-width: 100%;
  }
  .centered {
position: absolute;
top: 50%;
left: 65%;
transform: translate(-0%, -50%);
}
/* .container {
position: relative;
text-align: left;
color: white;
} */
  </style>

{{< blocks/cover title="Currículum" image_anchor="smart" height="min" >}}
A experiencia y estudios por aquí
{{< /blocks/cover >}}


<!-- {{< blocks/section >}}
<div class="col-12">
<h1 class="text-left" style="font-weight:700;">Full version</h1>
<br>
</div>

<div class="col-12">
<p class="text-left">Click <a href="">here</a> to download my full CV in PDF.</p>
</div>

{{< /blocks/section >}} -->

{{< blocks/overlayed-image height="min" image="/CV_ES.png" >}}
<div class="container td-overlay__inner">
	<div class="centered" style="font-weight:400;font-size:18px"><div class="col-12">
      <h1 class="text-left" style="font-weight:700;">Versión completa</h1>
      <br>
      <p class="text-left">Haz clic <span style="font-weight:bold"><a href="/CV_ES_Gabriel-SanMartin.pdf">aquí</a></span> para descargar mi currículum en PDF.</p>
    </div>
	</div>
  </div>
{{< /blocks/overlayed-image >}}

{{% blocks/lead height="oneline" color="blue"%}}
<div class="col-12">
  <h1 class="text-center" style="transform:translate(-0%, -50%);font-weight:700;">Videojuegos en cuyos créditos aparezco</h1>
  </div>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

<img src="/logosES.png" alt="Ni no Kuni 2, Pokémon Let's Go Pikachu, Pokémon Let's Go Eevee, Pokémon Espada, Pokémon Escudo, Pokémon Mundo misterioso: Equipo de rescate DX, Pokémon Masters, Pokémon Rumble Rush, Pokémon Café Mix">

{{< /blocks/section>}}

{{% blocks/lead color="yellow" height="oneline" %}}
<div class="col-12">
  <h1 class="text-center" style="transform:translate(-0%, -50%);font-weight:700;">Estudios universitarios</h1>
  </div>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

{{% blocks/featuretwo icon="fa-school" title="Licenciatura en Traducción e Interpretación" %}}
Universitat Autònoma de Barcelona
{{% /blocks/featuretwo %}}


{{% blocks/featuretwo icon="fa-solid fa-user-graduate" title="Máster en Traducción Audiovisual" %}}
Universitat Autònoma de Barcelona
{{% /blocks/featuretwo %}}


{{< /blocks/section >}}

{{% blocks/lead color="orange" height="oneline" %}}
<div class="col-12">
  <h1 class="text-center" style="transform:translate(-0%, -50%);font-weight:700;">Programas de intercambio</h1>
  </div>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

{{% blocks/featuretwo icon="fa-plane-departure" title="Programa Erasmus" %}}
University of Limerick, Ireland
{{% /blocks/featuretwo %}}


{{% blocks/featuretwo icon="fa-plane-arrival" title="Programa propi" %}}
Josai International University, Japan
{{% /blocks/featuretwo %}}

{{< /blocks/section >}}

{{% blocks/lead  height="oneline" color="secondary"%}}
<div class="col-12">
  <h1 class="text-center" style="transform:translate(-0%, -50%);font-weight:700;">Experiencia docente</h1>
  </div>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-solid fa-language" title="Profesor particular" %}}
Inglés y japonés
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-gamepad" title="Espai Daruma" url="https://espaidaruma.com/equipo-docente/" url_text="Enlace a su web"%}}
Traducción de videojuegos del japonés al español
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-gamepad" title="TranslaStars" %}}
Localización de videojuegos
{{% /blocks/feature %}}


{{< /blocks/section >}}