---
title: Servicios
linkTitle: Servicios
menu:
  main:
    weight: 30

---
<style>
  body { background:#271152; }
</style>

{{< blocks/cover title="Servicios" image_anchor="smart" height="min" >}}
Una muestra de lo que ofrezco
{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-gamepad" title="Localización de videojuegos" %}}
Traduzco y reviso textos destinados a la versión en castellano de videojuegos para cualquier plataforma. También me puedo encargar del control de calidad de videojuegos ya localizados.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-language" title="Traducción de textos JP / EN > ES" %}}
Traduzco textos de diversas temáticas del japonés o el inglés al castellano. Las áreas que mejor conozco son los productos audiovisuales, las artes visuales y la música.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-spell-check" title="Control de calidad lingüística" %}}
Reviso la ortografía, puntuación y estilo de textos en castellano para garantizar que sean correctos, legibles y produzcan el efecto deseado.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/sectionlead color="primary" >}}

{{% blocks/featuretwo icon="fa-flag" title="Revisión cultural" %}}
<p style="max-width:80%;transform: translate(12%,0%)">Me aseguro de que el producto tenga la acogida esperada y transmita la intención del original en el mercado de destino.</p>
{{% /blocks/featuretwo %}}

{{% blocks/featuretwo icon="fa-solid fa-rainbow" title="Asesoría en temática LGBTQ+" %}}
<p style="max-width:80%;transform: translate(12%,0%)">Reviso textos para aportar la perspectiva de una persona trans, no binaria y pansexual sobre su lenguaje y contenido.</p>

{{% /blocks/featuretwo %}}

{{< /blocks/sectionlead >}}

<!-- {{% blocks/lead color="secondary" height="nothing"%}}
{{% /blocks/lead %}} -->

{{< blocks/section >}}
<div class="col-12">
<h3 class="text-left">¿No encuentras lo que buscas? </h3>
<br>
</div>

<div class="col-12">
<p class="text-left">Si no aparece en la lista el servicio que quieres o no está claro cuál necesitas, <span style="font-weight:bold"><a href="/contact">contacta</a></span> conmigo para consultar sin compromiso.</p>
</div>

{{< /blocks/section >}}



