---
title: Servicios
linkTitle: Servicios
menu:
  main:
    weight: 30

---
<style>
  body { background:#271152; }
</style>

{{< blocks/cover title="Servicios" image_anchor="smart" height="min" >}}
Una muestra de lo que ofrezco
{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-gamepad" title="Localización de videojuegos" %}}
I can translate and proofread texts for the Castilian Spanish version of video games from/ any platform. I can also take care of the linguistic quality assurance of localized games.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-language" title="Traducción de textos JP / EN > ES" %}}
I can translate texts on a broad variety of topics from Japanese or English into European Spanish. I am knowledgeable about audiovisual products, visual arts, and music.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-spell-check" title="Revisión lingüística" %}}
I can edit the spelling, punctuation and style of texts in Spanish to ensure correctness, readability and the desired impact.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/sectionlead color="primary" >}}

{{% blocks/featuretwo icon="fa-flag" title="Revisión cultural" %}}
<p style="max-width:80%;transform: translate(12%,0%)">I can make sure that your product will be well-received and understood as intended in the Spanish market.</p>
{{% /blocks/featuretwo %}}

{{% blocks/featuretwo icon="fa-solid fa-rainbow" title="Asesoría en temática LGBTQ+" %}}
<p style="max-width:80%;transform: translate(12%,0%)">I can review your text if you need or would like the perspective of a trans, non-binary, pansexual person on its language or content.</p>

{{% /blocks/featuretwo %}}

{{< /blocks/sectionlead >}}

<!-- {{% blocks/lead color="secondary" height="nothing"%}}
{{% /blocks/lead %}} -->

{{< blocks/section >}}
<div class="col-12">
<h3 class="text-left">¿No encuentras lo que buscas? </h3>
<br>
</div>

<div class="col-12">
<p class="text-left">Si no aparece en la lista el servicio que quieres o no está claro cuál necesitas, <span style="font-weight:bold"><a href="/contact">contacta</a></span> conmigo para consultar sin compromiso.</p>
</div>

{{< /blocks/section >}}



