---
title: CV
linkTitle: CV
menu:
  main:
    weight: 20

---
<style>
  img {
    height: auto;
    max-width: 100%;
  }
  </style>

{{< blocks/cover title="CV" image_anchor="smart" height="min" >}}

<p class="lead mt-0">Look here for my experience and education
</p>

{{< /blocks/cover >}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-left">Full version</h1>
<br>
</div>

<div class="col-12">
<p class="text-left">Click <a href="">here</a> to download my full CV in PDF.</p>
</div>

{{< /blocks/section >}}

{{% blocks/lead height="oneline"%}}
<div class="col-12">
  <h1 class="text-center" style="transform:translate(-0%, -50%);">Video game credits I'm in</h1>
  </div>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

<img src="/logos4transp.png" alt="blablabla">

{{< /blocks/section>}}

{{% blocks/lead color="blue" height="oneline" %}}
<div class="col-12">
  <h1 class="text-center" style="transform:translate(-0%, -50%);">University education</h1>
  </div>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

{{% blocks/featuretwo icon="fa-school" title="Degree in Translation and Interpretation" %}}
Autonomous University of Barcelona
{{% /blocks/featuretwo %}}


{{% blocks/featuretwo icon="fa-solid fa-user-graduate" title="Masters in Audiovisual Translation" %}}
Autonomous University of Barcelona
{{% /blocks/featuretwo %}}


{{< /blocks/section >}}

{{% blocks/lead color="yellow" height="oneline" %}}
<div class="col-12">
  <h1 class="text-center" style="transform:translate(-0%, -50%);">Exchange programs</h1>
  </div>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

{{% blocks/featuretwo icon="fa-plane-departure" title="Erasmus program" %}}
University of Limerick, Ireland
{{% /blocks/featuretwo %}}


{{% blocks/featuretwo icon="fa-plane-arrival" title="Programa propi" %}}
Josai International University, Japan
{{% /blocks/featuretwo %}}

{{< /blocks/section >}}

{{% blocks/lead  height="oneline"%}}
<div class="col-12">
  <h1 class="text-center" style="transform:translate(-0%, -50%);">Teaching experience</h1>
  </div>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-solid fa-language" title="Private tutor" %}}
English and Japanese
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-gamepad" title="Espai Daruma" %}}
Video game translation
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-gamepad" title="TranslaStars" %}}
Video game localization course creator and tutor
{{% /blocks/feature %}}


{{< /blocks/section >}}