// $primary: #00ffff;
// $secondary: #cc66ff;
$primary: #30638E;
$primary-light: lighten($primary, 75%);
$secondary: #FFA630;
$success: #3772FF;
$info: #C0E0DE;
$warning: #ED6A5A;
$danger: #ED6A5A;
$white: #fff;
$light: #D3F3EE;

$dark: #403F4C; // este es el gris del footer
$blue: #72A1E5;
$orange: #BA5A31;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ccc;
$gray-500: #adb5bd;
$gray-600: #797676;
$gray-700: #495057;
$gray-800: #333;
$gray-900: #222;
$black: #000;

$dropdown-min-width: 0;