// $primary: #00ffff;
// $secondary: #cc66ff;
$primary: #69589c;
$primary-light: lighten($primary, 75%);
$secondary: #C16CD9;
$success: #3772FF;
$info: #C0E0DE;
$warning: #a66f60;
$danger: #a66f60;
$white: #F3F3F3;
$light: #D3F3EE;
$yellow: #D9B768;
$green: #97a660;
$ochre: #a69260;

$dark: #33145d; // este es el gris del footer
$blue: #04ADBF;
$orange: #BA5A31;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ccc;
$gray-500: #adb5bd;
$gray-600: #797676;
$gray-700: #495057;
$gray-800: #333;
$gray-900: #222;
$black: #000;

$dropdown-min-width: 0;