+++
title = "Gabriel San Martín"
linkTitle = "Gabriel San Martín"

+++


{{< blocks/coverleftalign image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto" style="text-align:center">
	<h1 class="display-1 mt-0 mt-md-5 pb-0" style="text-align:left;max-width:50%">Profesional de carne y hueso para dar sentido a mundos digitales</h1>
	<p class="lead mt-4 mb-5" style="text-align:left">Especialista en localización de videojuegos y traducción JP/EN > ES</p>
	<br>
	<br>
	<br>
	<br>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/coverleftalign >}}




{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Localización de videojuegos" %}}
Con experiencia y mimo.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Traducción creativa" %}}
Ni un juego de palabras sin adaptar.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Docencia innovadora" %}}
Porque aprender debería ser divertido.
{{% /blocks/feature %}}


{{< /blocks/section >}}

