+++
title = "Gabriel San Martín"
linkTitle = "Gabriel San Martín"

+++
<style>
img {
height: auto;
max-width: 100%;
}
.container {
position: relative;
text-align: left;
color: white;
}

/* Bottom left text */
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-0%, -50%);
}

</style>

{{< blocks/coverleftalign image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto" style="text-align:center">
	<h1 class="display-1 mt-0 mt-md-5 pb-0" style="text-align:left;max-width:50%">A <span style="color: #69589c">real</span> professional <br>to make sense <br>of a <span style="color: #69589c">virtual</span> world</h1>
	<p class="lead mt-4 mb-3" style="text-align:left">Video game localization specialist JP/EN > ES</p>
	<p class="lead mt-0 mb-5" style="text-align:left"><a href="/contact/" style="font-weight:500;padding:5px;line-height:50px;background-color:#69589c;color:white">Contact me</a></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/coverleftalign >}}




{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-gamepad" title="Video game **localization**" %}}
With experience plus fanboying care
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-hat-wizard" title="Creative **translation**" url="https://github.com/google/docsy-example" url_text="test"%}}
No pun left untouched
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-chalkboard" title="Innovative **teaching**" url="https://twitter.com/docsydocs" %}}
Have fun learning by all means
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{% blocks/lead color="primary" %}}

<div class="container">
	<img src="/logos4transp.png" alt="Snow" style="width:100%;">
	<div class="centered"><p>I strive to provide translations of the highest quality, with experience gained from working with some of the video game industry's biggest players. Whether your project is a AAA game or a short document, it will be treated with the same care.</p>
	<p>Please see <span style="font-weight:bold">Services</span> for a detailed list of what I can offer, and <span style="font-weight:bold">CV</span> for more information about my experience.</p>
	</div>
  </div>


<!-- <img src="/logos4transp.png"> -->
<!-- <p style="text-align:left">I strive to provide translations of the highest quality, with experience gained from working with some of the video game industry's biggest players. Whether your project is a AAA game or a short document, it will be treated with the same care.
</p>
<p style="text-align:left">Please see **Services** for a detailed list of what I can offer, and **CV** for more information about my experience.</p> -->
{{% /blocks/lead %}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-solid fa-user-plus" title="Bigger and smaller **teams**" %}}
I am used to working with more people and independently, in proximity and on the other side of the planet
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-mobile" title="For **all platforms**" url="https://github.com/google/docsy-example" %}}
I can cater to the specific localization needs of video games for consoles and mobile devices
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-recycle" title="Quick turnaround" %}}
Your project will be delivered as soon as it can be physically done
{{% /blocks/feature %}}


{{< /blocks/section >}}


