+++
title = "Gabriel San Martín"
linkTitle = "Gabriel San Martín"

+++
<style>
body { background:#271152; }
img {
height: auto;
max-width: 100%;
/* min-width: 100%;
margin-top: -10%;
margin-left: -10%; */
}
.containerr {
position: relative;
text-align: left;
color: white;
}

/* Bottom left text */
.centered {
position: absolute;
top: 50%;
left: 55%;
transform: translate(-0%, -30%);
}
.rectangle{
	margin-top: 30px;
	margin-bottom: 70px;
	padding-top: 2px;
	  width:160px;
	  height:40px;
	  border:3px solid white; 
	  position: relative;
	  text-align: center;
	}
	.rectangle a{
	color:white;
	font-weight: 700;
}
.rectangle:hover{
	  background-color: white;
	}
.rectangle:hover a{
	color:#5F2482;
}
</style>


{{< blocks/coverleftalign image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto" style="text-align:center">
	<h1 class="display-1 mt-0 mt-md-5 pb-0" style="text-align:left;max-width:50%;font-weight:800">A <span style="color: #5F2482">real</span> professional <br>to make sense <br>of a <span style="color: #5F2482">virtual</span> world</h1>
	<p class="lead mt-4 mb-4" style="text-align:left;font-weight: 500;">JP / EN > ES localization and translation specialist</p>
	<div class="rectangle" ><a href="/contact/">Contact me</a></div>
	<!-- <p class="lead mt-0 mb-5" style="text-align:left"><a href="/contact/" style="font-weight:500;padding:5px;line-height:50px;background-color:#69589c;color:white">Contact me</a></p> -->
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/coverleftalign >}}




{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-gamepad" title="Video game **localization**" %}}
Hard work, then play
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-hat-wizard" title="Creative **translation**" %}}
No pun left unturned
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-chalkboard" title="Innovative **teaching**" %}}
Engaging lessons by all means
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/overlayed-image color="primary" height="med" image="/portatil.png" >}}
<div class="containerr td-overlay__inner">
	<div class="centered" style="font-weight:500;font-size:18px"><p>My quest is to provide translations of the highest quality, with the benefit of experience gained from working with some of the video game industry’s biggest players. Your project, whether it is a AAA game or a short document, will be crafted with all my dedication and love for what I do.</p>
	<p>Please see <span style="font-weight:bold"><a href="/services">Services</a></span> for a detailed list of what I can offer, and <span style="font-weight:bold"><a href="/cv">CV</a></span> for more information about my experience and training.</p>
	</div>
  </div>
{{< /blocks/overlayed-image >}}


<!-- {{< blocks/section color="primary" >}}

<div class="container td-overlay__inner">
	<img src="/portatil-largo.png" alt="Snow" style="width:100%;">
	<div class="centered"><p>I strive to provide translations of the highest quality, with experience gained from working with some of the video game industry's biggest players. Whether your project is a AAA game or a short document, it will be treated with the same care.</p>
	<p>Please see <span style="font-weight:bold">Services</span> for a detailed list of what I can offer, and <span style="font-weight:bold">CV</span> for more information about my experience.</p>
	</div>
  </div>

<img src="/logos4transp.png"> -->
<!-- <p style="text-align:left">I strive to provide translations of the highest quality, with experience gained from working with some of the video game industry's biggest players. Whether your project is a AAA game or a short document, it will be treated with the same care.
</p>
<p style="text-align:left">Please see **Services** for a detailed list of what I can offer, and **CV** for more information about my experience.</p> -->
<!-- {{< /blocks/section >}} -->


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-solid fa-user-plus" title="Bigger and smaller **teams**" %}}
Both a team and independent worker, in proximity and on the other side of the planet
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-mobile" title="For **all platforms**" %}}
Localization tailored to the specific needs of video games for consoles, PC and mobile devices
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-recycle" title="Quick **turnaround**" %}}
Your project will be delivered before you can say loading screen
{{% /blocks/feature %}}


{{< /blocks/section >}}


