---
title: Services
linkTitle: Services
menu:
  main:
    weight: 30

---
<style>
  body { background:#271152; }
</style>

{{< blocks/cover title="Services" image_anchor="smart" height="min" >}}
A summary of what I can offer
{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-gamepad" title="Video game localization" %}}
I can translate and proofread texts for the Castilian Spanish version of video games from/ any platform. I can also take care of the linguistic quality assurance of localized games.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-language" title="JP/EN > ES (EU) text translation" %}}
I can translate texts of general topics from Japanese or English into Castilian Spanish.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-spell-check" title="Linguistic quality assurance" %}}
I can edit the spelling, punctuation and style of texts in Spanish.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/sectionlead color="primary" >}}

{{% blocks/featuretwo icon="fa-flag" title="Cultural review" %}}
<p style="max-width:80%;transform: translate(12%,0%)">I can make sure that the content of your product will be understood and well-received in the Spanish market.</p>
{{% /blocks/featuretwo %}}

{{% blocks/featuretwo icon="fa-solid fa-rainbow" title="LGBT+ sensitivity reading" %}}
<p style="max-width:80%;transform: translate(12%,0%)">I can review your text if you need or would like the perspective of a trans, non-binary, pansexual person on it.</p>

{{% /blocks/featuretwo %}}

{{< /blocks/sectionlead >}}

<!-- {{% blocks/lead color="secondary" height="nothing"%}}
{{% /blocks/lead %}} -->

{{< blocks/section >}}
<div class="col-12">
<h3 class="text-left">What you are looking for is not on the list? Not sure what service you need?</h3>
<br>
</div>

<div class="col-12">
<p class="text-left">Send me an email to inquire about it at no cost.</p>
</div>

{{< /blocks/section >}}